.header{
    background-color: rgb(0 133 133);

}
.fw_600{
    font-weight: 600 !important;
}

.f_35{
    font-size: 25px;
}
.h_100{
    height: 70px;
}

.hbtn{
    background-color: transparent !important;
    border: 2px solid #cc00014d !important;
    transition: .5s ease-in-out;
}

.hbtn:hover{
    background-color: #cc0001 !important;
}


.hbtn2{
    background-color: transparent !important;
    border: 2px solid #cc0001 !important;
    transition: .5s ease-in-out !important;
}

.hbtn2:hover{
    background-color: #cc0001 !important;
    color: white !important;
}

.btn_bg{
    background: linear-gradient(90deg, rgb(0, 255, 121) 0%, 8.14286%, rgb(0, 199, 113) 16.2857%, 58.1429%, rgb(0, 255, 248) 100%) !important;
   
}


.blue_cRD{
    height:150px !important;
}

.banner-center{
    background-image: url(../assets/images/hdgf0pj52x151.jpg) !important;
}

.card-center{
    height: 300px !important;

}

.f_14{
    font-size: 14px !important;
}

.f_13{
    font-size: 13px !important;
}

.box_sdw {
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.newmp {
    background: #e0e0e0;
    -webkit-box-shadow: 16px 16px 32px #969696, -16px -16px 32px #ffffff;
    box-shadow: 16px 16px 32px #969696, -16px -16px 32px #ffffff;
}

.bg_r {
    background-color: #cc0001 !important;
}

.b_t{
    border-top: 4px solid #cc0001 !important;
}

.bg_bck {
    background-color: #494e56 !important;
}


@media screen and (max-width:768px) 
{
    .long_card_container {
        margin-top: 50px !important;
    }
    
}

.long_card_container{
    margin-top: 450px;
}


@media screen and (max-width:578px) 
{
    .f_sm_22 {
        font-size: 22px !important;
    }
    
}

.f_8 { font-size: 8px !important; }
.f_9 { font-size: 9px !important; }
.f_10 { font-size: 10px !important; }
.f_11 { font-size: 11px !important; }
.f_12 { font-size: 12px !important; }
.f_13 { font-size: 13px !important; }
.f_14 { font-size: 14px !important; }
.f_15 { font-size: 15px !important; }
.f_16 { font-size: 16px !important; }
.f_17 { font-size: 17px !important; }
.f_18 { font-size: 18px !important; }
.f_19 { font-size: 19px !important; }
.f_20 { font-size: 20px !important; }
.f_21 { font-size: 21px !important; }
.f_22 { font-size: 22px !important; }
.f_23 { font-size: 23px !important; }
.f_24 { font-size: 24px !important; }
.f_25 { font-size: 25px !important; }
.f_26 { font-size: 26px !important; }
.f_27 { font-size: 27px !important; }
.f_28 { font-size: 28px !important; }
.f_29 { font-size: 29px !important; }
.f_30 { font-size: 30px !important; }



.borderTopLeft {
    width: 15px;
    height: 15px;
    border-top: 5px solid red;
    border-left: 5px solid red;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .borderBottomRight {
    width: 15px;
    height: 15px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .bg_r {
    background-color: #cc0001 !important;
}

.border-leftb {
    border-left: 4px solid #494e56 !important;
}

.box_sdw11 {
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.2px 2.2px 2.6px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.2px 2.2px 2.6px;
}
  .brd{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .h100vh{
    height: 100vh !important;
  }

  .bgg{
    background-color: #494e56 !important;
  }

  .bgp{
    background-color: #e91e63 !important;
    color: white;
  }

  .circle{
    width: 100px !important;
    height: 100px !important;
    background-color: #E91E63 !important;
    border-radius: 50px !important;
    margin-top: -80px !important;
  }


  .img-fluid {
    width: 100%;
    height: 100% !important;
    object-fit: cover !important; 
  }